Babel==2.15.0
dash==2.15.0
dash==2.16.1
dash_bootstrap_components==1.5.0
dash_bootstrap_components==1.6.0
dash_core_components==2.0.0
dash_html_components==2.0.0
matplotlib==3.8.3
mplcyberpunk==0.7.1
numpy==1.26.4
pandas==2.2.2
plotly==5.19.0
plotly==5.20.0
